.wave-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -1px;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 60px;
}

.wave-divider--flip {
  transform: rotate(180deg);
  margin-bottom: -1px;
  margin-top: 0;
}

@media (max-width: 768px) {
  .wave-divider svg {
    height: 35px;
  }
}
